=========================
Dependencies
=========================
node_modules/

# Frontend project
frontend/

# Prisma
prisma/migrations/*.sql

=========================
Build files
=========================

dist/
build/
.next/
out/

=========================
Environment variables
=========================

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

=========================
Logs
=========================

logs/
*.log
.log
npm-debug.log
load-tests/reports/server-*.log
yarn-debug.log*
yarn-error.log*

=========================
Coverage
=========================

coverage/

=========================
Temporary files
=========================

tmp/
temp/
*.tmp

=========================
IDE / Editor files
=========================

.vscode/
.idea/
*.swp
*.swo

=========================
OS files
=========================

.DS_Store
Thumbs.db
.claude/
.eslintcache
